html,body{
  height: 100%;
}
.App {
  display: flex;
  text-align: center;
  height: 100%;

}
#root {
  height: 100%;
}
.leftPanal ul{
  list-style: none;
  text-align: left;
  
}
.leftPanal ul li{
  padding: 0.5rem;
  border-radius: 0px 20px 20px 0px;
  transition: background-color 0.2s ease;

}
.active{
  background-color: red;
}
.leftPanal ul li:hover{
  background-color: rgb(116, 116, 116);
  cursor: pointer;
  color: wheat;
}
.rightPanal {
  list-style: none;
  text-align: left;
}
.leftPanal{
width: 30%;
height: 100%;

}
.rightPanal{
  width: 70%;
  height: 100%;
}

.loader{
  width: 70%;
  height: 100hv;
  /* background-color: rgba(237, 234, 234, 0.331); */
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
  * Dots flow
  *
  * @author jh3y - jheytompkins.com
*/
.dots-flow:before {
  -webkit-animation: dots-flow .85s infinite ease;
          animation: dots-flow .85s infinite ease;
  border-radius: 100%;
  content: '';
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40px);
          transform: translate(-50%, -40px);
  width: 16px; }

@-webkit-keyframes dots-flow {
  0%, 100% {
    -webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 0 white;
            box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 0 white; }
  35% {
    -webkit-box-shadow: -26px 32px 0 4px purple, 0px 32px 0 0 white, 26px 32px 0 0 white;
            box-shadow: -26px 32px 0 4px purple, 0px 32px 0 0 white, 26px 32px 0 0 white; }
  50% {
    -webkit-box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px purple, 26px 32px 0 0 white;
            box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px purple, 26px 32px 0 0 white; }
  65% {
    -webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 4px purple;
            box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 4px purple; } }

@keyframes dots-flow {
  0%, 100% {
    -webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 0 white;
            box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 0 white; }
  35% {
    -webkit-box-shadow: -26px 32px 0 4px purple, 0px 32px 0 0 white, 26px 32px 0 0 white;
            box-shadow: -26px 32px 0 4px purple, 0px 32px 0 0 white, 26px 32px 0 0 white; }
  50% {
    -webkit-box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px purple, 26px 32px 0 0 white;
            box-shadow: -26px 32px 0 0 white, 0px 32px 0 4px purple, 26px 32px 0 0 white; }
  65% {
    -webkit-box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 4px purple;
            box-shadow: -26px 32px 0px 0 white, 0px 32px 0 0 white, 26px 32px 0 4px purple; } }